.navUser{
    background: coral;
    /* width: 250px; */
    height: 50px;
  }
  
  .questions{
    max-width: 600px;
  
    .questionBox {
      color: white;
      &:hover{
        text-decoration: none !important;
      }
      .author{
        font-size: 20px;
      }
      .wouldRather{
        font-size: 26px;
      }
      .option {
        font-size: 26px;
      }
      .or{
        font-size: 34px;
      }
    }
  }
  
  .form{
    .or{
      font-size: 50px;
    }
  }
  
  .leaderboard{
    font-size: 16px;
    border-width: 20px !important;
    color: white;
    .index{
      font-size: 40px;
    }
    .name{
      font-size: 24px;
    }
    .number{
      font-size: 42px;
    }
  }
  
  
  .or{
    font-size: 100px;
  }
  
  .loginCard {
    border-width: 3px !important;
    font-size: 20px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
}

.navbar .navbar-nav, .navbar  {
  color: #fff;
}


#progressbar {
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: orange;
  /* Adjust with JavaScript */
  height: 40px;
  border-radius: 10px;
}

.circle {
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 70%;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #FFEE55E5
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
* {box-sizing: border-box;}

.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

.box1 {
  grid-column: 1 / 4;
}

.nested {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}

li {
  float: left;
}

p.solid {
  border-style: solid;
  width: 500px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  border: #111111;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
